{% extends 'main/layout.html' %}

{% block title %}
<title>Shop</title>
{% endblock %}

{% block content %}
<h1>Магазин</h1>
{% for i in games %}
<div>
    <h3>{{i.title}}</h3>
    <h8>Жанр: {{i.genre}}</h8><br>
    <h8>Опис: {{i.description}}</h8><br>
    <h8>Ціна: {{i.price}}</h8><br>
    <h8>Мови: {{i.languages}}</h8><br>
    <h8>Відгуки: {{i.feedbacks}}</h8><br>
    <form method = "post">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ i.id }}">
        <button type="submit">Купити</button>
    </form>
    <br>
    <br>
</div>
{% endfor %}

<a href="{% url 'index' user_id=user_id %}">Назад</a>

{% endblock %}
